h1,
h3,
h4{
    font-family: 'Black Ops One', cursive;
}
p,
a,
ul{
    font-size: 25px;
}
h2{
    font-size: 30px;
}
a{
    color: #63c2e7;
}
body{
    font-family: 'Gemunu Libre', sans-serif;
    /* dark mode */
    background-color: #1a1a1a;
    color: #fff;
}